@import 'client/stylesheets/variables';

.main {
  width: 100%;
  height: 100%;
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .navbar + .content {
    padding-top: $dreamers-topbar-height; 
  }
}