@import 'client/stylesheets/variables';

.main {
  position: fixed;
  width: 100%;
  height: 100%;

  .navbar {
    position: relative;
  }
  .content {
    position: relative;
    overflow-y: auto;
    height: calc(100% - $dreamers-topbar-height);
  }
}