/*****************************************************************************/
/* ViewProfile: Style */
/*****************************************************************************/
@import 'client/stylesheets/variables';

.view-profile {
  .hidden-input {
    display: none;
  }
  .profile-name {
    font-size: 20px;
    font-family: $header-font-stack;
  }
  .profile-top {
    .cover-photo {
      background: url("http://25.media.tumblr.com/tumblr_mcn621Mof41qbajzvo1_1280.jpg") no-repeat center;
      background-size: cover; 
      height: 300px;
      position: relative;
    }
    .profile-navbar {
      height: 60px;
      background-color: $dreamers-white;
      border-bottom: 1px solid $secondary-border-color;
    }
  }


  .avatar {
    margin: -170px auto auto auto;
    background: #fff;
    border: 5px solid $dreamers-white;
    border-radius: 50%; //12px; 
    box-shadow: 0 0 3px rgba(136,153,166,0.15);
    height: 200px;
    position: relative;
    width: 200px;
    background-image: url("http://cdn.playbuzz.com/cdn/21ab7243-0380-420f-914c-63d4ce59aa3c/bf1bfae7-1163-4f90-a3b0-4ce677e91f1d.jpg"); 
    background-size: auto 100%; 
    background-repeat: no-repeat;
    background-position: center; 
    // overflow: hidden;

    img {
      border-radius: 8px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      display:none; 
    }
  }

  .change-photo-wrapper {
    color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    opacity: 0.5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
      color: white;
      opacity: 0.8;
      background-color: black;
      bottom: 0;
      transition-delay: 0s;
    }
    
  }

  .change-photo {
    position: absolute;
    bottom: 3px;
    right: 5px;
    left: auto;
    color: white;
    text-shadow: 0 0 2px black;
    opacity: 0.5;
    transition: opacity 0.1s;
    font-size: 20px;
    visibility: visible;

    .change-photo-text {
      font-size: 14px;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .page-content { 
    .page-content-left {
      margin-top: 10px;
      .module {
        padding: 5px;
      }
    }
    .page-content-right {
      margin-top: -15px;
      .module {
        padding: 5px;
      }
    }
  }

}
