<template name="ViewProfile">
  <div class="view-profile">
    <div class="profile-top">
      <div class="avatar" style="background-image: url('{{profile.avatar_url}}')"> 
        <img src="https://www.filepicker.io/api/file/1B9gSAJ3RD2mImzQJ916">
        {{#if editable}}
        <div class="change-photo-wrapper">
          <div id="change-profile-photo" class="change-photo">
            <span class="change-photo-text">Upload a new profile photo</span>
            <i class="fa fa-camera"></i>
          </div>
        </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="small-6 small-centered columns">
          {{> ProfileDash profile}}
        </div>
      </div>
    </div> 
    <div class="page-content">
      <div class="row">
        <div class="small-12 small-centered columns">
          {{#if editable}}
            {{> CreatePost}}
          {{/if}}
          {{> Wall}}
        </div> 
      </div>
    </div>
  </div>
</template>
