/*****************************************************************************/
/* Logo: Style */
/*****************************************************************************/
@import 'client/stylesheets/variables';

.logo {
  font-family: $header-font-stack;
  text-transform: uppercase;
  white-space: nowrap;

  .dreamers-text, .doers-text {
    color: #333;
  }
  .slashes {
    color: $dreamers-green;
  }
}
