<template name="Topbar">
  <div class="top-bar-wrapper contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a class="logo-wrapper" href="/">
              {{> Logo}}
            </a>
          </h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">
              <div class="user-photo">
                <img src="http://cdn.playbuzz.com/cdn/21ab7243-0380-420f-914c-63d4ce59aa3c/bf1bfae7-1163-4f90-a3b0-4ce677e91f1d.jpg"/>
              </div>
            </a>
            <ul class="dropdown">
              <li><a href="#">Account</a></li>
              <li><a href="#">Preferences</a></li>
              <li><a href="#" class="sign-out">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</template>
