<template name="LoginPage">
  <div class="login-page">
    <div class="row row-logo">
      <div class="small-10 small-centered columns text-center">
        <a class="logo-wrapper" href="#">
          {{> Logo}}
        </a>
      </div>
    </div>
    <div class="row row-tagline">
      <div class="small-10 small-centered columns text-center">
        <h1 class="welcome"> 
          Sign In
        </h1>
      </div>
    </div>
    <div class="row row-login">
      <div class="small-10 small-centered columns text-center">
        {{> Login}}
      </div>
    </div>
  </div>
</template>
