/*****************************************************************************/
/* CreatePost: Style */
/*****************************************************************************/
.create-post {
  textarea {
    margin-bottom: 6px;
    resize: vertical;  // TODO: put a javascript height instead
  }
  input.button {
    margin: 0;
  }
}
