<template name="DirectoryProfile">
  <div class="directory-profile">
    <div class="row">
      <div class="small-1 columns">
        <div class="profile-photo">
           <img src="http://cdn.playbuzz.com/cdn/21ab7243-0380-420f-914c-63d4ce59aa3c/bf1bfae7-1163-4f90-a3b0-4ce677e91f1d.jpg">
        </div>
      </div>
      <div class="small-4 columns">
        {{#linkTo route="view_profile"}}
          {{profile.fullname}}
        {{/linkTo}}
      </div>
      <div clalss="small-7 columns"> &nbsp; </div>
    </div>
  </div>
</template>
