$standard-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-stack: "Lato", $standard-font-stack;


// colors
$dreamers-green: rgb(30, 190, 144);
$primary-color: $dreamers-green;
$body-background-color: #f5f8fa;
$secondary-border-color: #e1e8ed;
$dreamers-white: #fff;



$dreamers-topbar-height: 45px;
