<template name="Landing">
  <div class="landing">
    <div class="row row-logo">
      <div class="small-10 small-centered columns text-center">
        <a class="logo-wrapper" href="#">
          {{> Logo}}
        </a>
      </div>
    </div>
    <div class="row row-tagline">
      <div class="small-10 small-centered columns text-center">
        <h1 class="welcome"> 
          <div> A high-impact community of </div>
          <div class="center-line"> trailblazing women </div>
          <div> that welcomes you with open arms </div>
        </h1>
      </div>
    </div>
    <div class="row row-signup">
      <div class="small-10 small-centered columns text-center">
        {{> Signup}}
      </div>
    </div>
  </div>
</template>
